.content {
  white-space: pre-wrap;
  margin: 0.2ex;
  padding: 1px;
}

div.content {
  border: 0.3ex solid red;
}

span.content {
  border: 0.3ex solid grey;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical > .content:not(:first-child) {
  left: 50px;
}

#selection {
  display: inherit;
  flex-direction: inherit;
  background: aquamarine;
}

#status {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: grey;
  color: white;
}

#mode {
  position: fixed;
  right: 0px;
}

#debug {
  position: fixed;
  left: 0px;
}
