.content, .atom-selection {
  margin: 0.2ex;
  padding: 1px;
  min-height: 1rem;
}

.content {
  white-space: pre-wrap;
}

div.content {
  border: 0.3ex solid red;
}

div.atom-selection {
  display: inline;
  background: beige;
}

.horizontal {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical > .content:not(:first-child),
.vertical > #selection:first-child > .content:not(:first-child),
.vertical > #selection:not(:first-child) > .content,
.vertical > .atom-selection:not(:first-child),
.vertical > #selection:first-child > .atom-selection:not(:first-child),
.vertical > #selection:not(:first-child) > .atom-selection {
  margin-left: 50px;
}

#selection {
  display: inherit;
  flex-direction: inherit;
  background: aquamarine;
  min-height: 1rem;
}

.atom-selection > #selection {
  display: inline;
  min-height: 1rem;
}

.horizontal > #selection.right, .atom-selection > #selection.right {
  border-right: 0.3ex solid blue;
}

.horizontal > #selection.left, .atom-selection > #selection.left {
  border-left: 0.3ex solid blue;
}

.vertical > #selection.right {
  border-bottom: 0.3ex solid blue;
}

.vertical > #selection.left {
  border-top: 0.3ex solid blue;
}

#status {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: grey;
  color: white;
}

#mode {
  position: fixed;
  right: 0px;
}

#debug {
  position: fixed;
  left: 0px;
}
