.content, .atom-selection {
  margin: 0.2ex;
  padding: 1px;
}

.content {
  white-space: pre-wrap;
}

div.content {
  border: 0.3ex solid red;
}

span.content, .atom-selection {
  /*border: 0.3ex solid grey;*/
}

div.atom-selection {
  display: inline;
}

.horizontal {
  display: flex;
  flex-direction: row;
}

.vertical {
  display: flex;
  flex-direction: column;
}

.vertical > .content:not(:first-child) {
  left: 50px;
}

#selection {
  display: inherit;
  flex-direction: inherit;
  background: aquamarine;
}

.atom-selection > #selection {
  display: inline;
}

.horizontal > #selection.right, .atom-selection > #selection.right {
  border-right: 0.3ex solid blue;
}

.horizontal > #selection.left, .atom-selection > #selection.left {
  border-left: 0.3ex solid blue;
}

.vertical > #selection.right {
  border-bottom: 0.3ex solid blue;
}

.vertical > #selection.left {
  border-top: 0.3ex solid blue;
}

#status {
  display: block;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: grey;
  color: white;
}

#mode {
  position: fixed;
  right: 0px;
}

#debug {
  position: fixed;
  left: 0px;
}
